.html,
body {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
}

.container--slider {
    width: 1040px;
    margin: 0 auto;
}

.header {
    height: 90px;
    position: relative;
    margin: auto;
}

.header__inner {
    width: 100%;
    height: 40px;
    background-color: #1C1C1C;
    padding-top: 10px;
}

.header__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header__item {
    display: block;
    margin-right: 19px;
    width: 16px;
    height: 16px;
    fill: #fff;
}

.navbar {
    height: 55px;
    position: absolute;
    width: 1040px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__logo {
    display: block;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 24px;
    color: #252525;
    line-height: 0.67;
    position: relative;
    margin-left: 110px;
}

.header__logo:before {
    display: block;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 24px;
    padding: 7px 12px;
    content: 'i';
    width: 31px;
    color: #fff;
    height: 31px;
    background-color: #EA5A4B;
    position: absolute;
    top: -50%;
    left: -45%;
    z-index: 0;
}

.header__logo:hover {
    text-decoration: none;
    color: #EA5A4B;
}

.header__badge {
    color: #EA5A4B;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 24px;
}

.badge__square {
    position: relative;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 24px;
    line-height: 1;
    color: #000;
}

.navbar-brand:hover {
    color: #EA5A4B;
}

.nav__header {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.28;
    color: #000;
    text-transform: uppercase;
    margin-right: 18px;
}

.nav-link {
    font-size: 12px;
    color: #000;
}

.nav__header:hover {
    color: #EA5A4B;
}

.main {
    position: relative;
    height: 1000px;
    z-index: 1000;
    display: block;
}

.section {
    position: absolute;
    height: 1600px;
    background-color: #fff;
}

.badge-dark {
    background: rgba(6, 6, 6, 0.75);
    border-radius: 0;
}


/*slider */

.slider {
    position: relative;
    overflow: hidden;
    height: 450px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider .slick-arrow {
    position: absolute;
    top: 55%;
    z-index: 10;
}

.slider .slick-arrow.slick-prev {
    left: 3%;
    background: url('../img/left-chevron.svg') 0 0 no-repeat;
    width: 25px;
    height: 25px;
    color: #fff;
}

.slider .slick-arrow.slick-next {
    left: 7%;
    background: url('../img/right-chevron.svg') 0 0 no-repeat;
    width: 25px;
    height: 25px;
    color: #fff;
}

.slider__nav .slick-list {
    width: 940px;
    height: 130px;
    background-color: #1C1C1C;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    z-index: 10000;
}

.slider__nav .slider__item {
    width: 75px;
    height: 75px;
    overflow: hidden;
    text-align: center;
    margin-top: 25px;
    margin-right: 15px;
}

.slider__inner {
    margin-top: 90px;
    display: block;
}

.slider__title {
    width: 338px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #fff;
}


/*work========*/

.work {
    height: auto;
    margin: auto;
    position: absolute;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    background-color: #fff;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
}

.work__features {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.work__item {
    width: 28%;
    height: auto;
    margin-right: 15px;
    position: relative;
}

.work__svg {
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 1000;
    visibility: visible;
    fill: #fff;
}

.work__item:before {
    display: block;
    content: '';
    background-color: #25282A;
    width: 31px;
    height: 31px;
    position: absolute;
    top: -6px;
    left: 9px;
    color: #000;
    z-index: 0;
}

.work__title {
    margin-left: 16px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    color: #252525;
}

.work__title:hover {
    text-decoration: none;
    color: #252525;
}

.work__text {
    color: #5C5C5C;
    font-family: HelveticaNeue, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    margin-left: -5px;
}

.work__tagline {
    font-family: 'Bitter', serif;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 1.2;
    color: #252424;
    word-spacing: 5px;
}

.work__tagline:hover {
    color: #252424;
    text-decoration: none;
}

.badge-danger {
    font-family: 'Bitter', serif;
    font-weight: 700;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 1.17;
    color: #fff;
}

.badge-danger {
    background-color: #EA5A4B;
    border-radius: 0;
    width: 127px;
    height: 38px;
}

.nav-pills .nav-link.active {
    font-family: 'Bitter', serif;
    font-weight: 700;
    background-color: #EA5A4B;
    border-radius: 0;
    font-size: 14px;
}

.work__portfolio {
    width: 890px;
    height: auto;
}

.work__nav {
    margin-bottom: 27px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 14px;
}

.work__link {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 14px;
    color: #252525;
}

.work__link:hover {
    color: #EA5A4B;
}

.work__inner {
    overflow: hidden;
    width: 205px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.work__block {}

.work__img {}

.work__inf {
    position: absolute;
    height: 25px;
    width: 100%;
    padding-left: 9px;
    z-index: 1000;
    bottom: 0;
    background: rgba(6, 6, 6, 0.75);
    padding-top: 5px;
}

.work__subtitle {
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.work__inner .work__inf {
    opacity: 0;
}

.work__inner .work__inf:hover {
    opacity: 1;
    transition: .2s linear;
    text-decoration: none;
    color: #fff;
}

.work__inner .work__subtitle:hover {
    opacity: 1;
    transition: .3s linear;
    text-decoration: none;
    color: #fff;
}

.work__inf a {
    display: block;
}

.work__item a {
    display: block;
}

.footer {
    height: 395px;
    background-color: #1C1C1C;
    color: #fff;
    position: relative;
    z-index: 1;
    display: block;
}

.footer:after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #EA5A4B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.footer_post {
    width: 299px;
    margin-top: 65px;
}

.ul {
    list-style-type: none;
    margin-left: -38px;
}

.footer__title {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 17px;
}

.footer__link {
    text-decoration: none;
    color: #ADADAD;
    font-family: 'Bitter', serif;
    font-weight: 700;
    padding-bottom: 31px;
    font-size: 14px;
}

.footer__link:hover {
    text-decoration: none;
    color: #ADADAD;
}

.footer__text {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    color: #ADADAD;
    font-size: 14px;
    line-height: 1.28;
}

.footer__social {
    margin: 3px 2px;
    width: 29px;
    height: 28px;
}


/*blog*/

.blog {}

.blog__intro {
    width: 1030px;
    height: 151px;
    overflow: hidden;
    margin: 0 auto;
}

.blog__header {
    width: 940px;
    height: 130px;
    background-color: #1C1C1C;
    color: #fff;
    font-family: 'Bitter', serif;
    font-weight: 700;
    padding-left: 42px;
    padding-top: 34px;
    border: #707070 1px solid;
}

.blog__title {
    font-size: 30px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    margin-bottom: 3px;
}

.blog__subtitle {
    font-size: 14px;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.blog__main {
    margin-left: 0;
}

.block {}

.blog__suptitle {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    padding: 22px 0 22px 0;
    margin: 0;
}

.blog__suptitle a {
    text-decoration: none;
    color: #464646;
}

.blog__content {
    display: block;
}


/*slider--blog*/

.blog--slider {
    width: 656px;
    height: 306px;
    overflow: hidden;
}

.stuts {
    padding-left: 8px;
    padding-top: 13px;
    position: relative;
}

.stuts:after {
    content: "";
    display: block;
    position: absolute;
    width: 649px;
    height: 5px;
    background-color: #EA5A4B;
    bottom: 0;
}

/*
.stuts:after :last-child {
    background-color: #fff;
}
*/


.stuts__inner {
    margin-bottom: 13px;
    width: 96px;
    height: 37px;
}

.stuts__title {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 14px;
    color: #2C2C2C;
}

.stuts__title a {
    text-decoration: none;
    color: #464646;
}

.stuts__subtitle {
    font-size: 12px;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.stuts__subtitle a {
    text-decoration: none;
    color: #EA5A4B;
}

.stuts__inf {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.stuts__text {
    width: 500px;
}

.video {
    width: 656px;
}
/*sidebar*/

.sidebar {
    margin: 56px 0 auto;
    padding: 0;
}

.sidebar__inner {
    width: 206px;
    position: relative;
    display: block;
}

.sidebar__inner:after {
    position: absolute;
    content: '';
    width: 206px;
    height: 5px;
    background-color: #EA5A4B;
    top: 28px;
    left:  0;
}

.sidebar__title {
    font-family: 'Bitter', serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 19px;
}

.sidebar__title a {
    text-decoration: none;
    color: #252525;
}

.sidebar__text {
    font-size: 14px;
    color: #252525;
    text-decoration: none;
}

.sidebar__text:hover {
    text-decoration: none;
    color: #252525;
}


.sidebar__block {
    width: 100px;
    height: 99px;
    display: inline;

}
))))











